@import "tailwindcss";

@theme {
    --font-sans: var(--font-sans);
    --color-background: hsl(262, 66%, 33%);
    --color-surface: #18181b;
    --color-surface-muted: #29292e;
    --color-border: #333;
    --color-primary: #5b64f1;
    --color-primary-hover: #6871ed;
    --color-sidebar: #111113;
    --color-sidebar-hover: #1c1c21;
}
